<%- include("../partials/header.ejs") %>

<h3> Cohorts </h3>
<div>
    <% for (let cohort of cohorts) { %>
        <div class = "card mb-4">
            <div class = "card-body">
                <h5 class = "name"> <%- cohort.name %> </h5>
            </div>
            <div>
                <p class = "card-text"> <%- cohort.members %> </p>
            </div>
            <a class="btn btn-primary" href="/cohorts/<%- cohort.id %>">Show Cohort</a>
        </div>
    
    <% } %>

    
</div>


<%- include("../partials/footer.ejs") %>
