<%- include("../partials/header.ejs") %>

<div class = "card mb-4">
    <div class = "card-body">
        <h5> <%- cohort.name %> </h5>
        <p class = "card-text">
            <%- cohort.members %>
        </p>

        <div>
            <a class = "btn btn-outline-success mr-2" href= "/cohorts/<%- cohort.id %>/edit">
                Edit
            </a>
        </div>

        <br>

        <div>

        <form action="/cohorts/<%- cohort.id %>" method = "POST">
            <input type="hidden" name = "_method" value = "DELETE">
            <input type="submit" class = "btn btn-outline-danger" value = "Delete">
        </form>

        </div>

    </div>
    

</div>



<%- include("../partials/footer.ejs") %>