<%- include("../partials/header.ejs") %>

<!-- Show Cohort -->

<div class = "card mb-4">
    <div class = "card-body">
        <h5> <%- cohort.name %> </h5>
        <p class = "card-text">
            <%- cohort.members %>
        </p>
    </div> 
</div>

<div class="d-flex">
    <div class="m-3">
        <a href="/cohorts/<%-cohort.id%>/edit" class="btn btn-outline-primary">Edit</a>
    </div>
    <div class="m-3">
        <form action="/cohorts/<%-cohort.id%>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>

<br>

<!-- Team Assignment Form -->



<form method="GET">

 <div class = "card mb-4">

    <h5> Method </h5>

      <div>

        <input name="method" type="radio" id="team_count" value="team_count">
        <label for="team_count">Team Count</label>

      </div>

      <div>

        <input name="method" type="radio" id="number_per_team" value="number_per_team">
        <label for="number_per_team">Number Per Team</label>

        </div>
       
        <div>

            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" name="quantity" value="quantity" />

        </div>

        <br>

        <div>

            <input type="submit" value="Assign Teams" class="btn btn-outline-primary">
        
        </div>

       

  </div>

</form>

<% function shuffleArray(array) {
        
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }

      return array
    
    }

    if (method == 'team_count'){ 

    let teams = [];
    let assignments = [];
    let count = 0;
    
    let str = cohort.members;
    let members = str.split(",");

    let members_arr = shuffleArray(members);
    let teamCount = members_arr.length / quantity;

    for (let i = 0; i < quantity; i++) {

        count += 1
        team_name = `Team ${count}`

        teams.push(team_name)   
    } 

    for (let i = 0; i < teams.length; i++) {
        for (let number = 0; number < teamCount; number++) {
            
            assignments.push({
                "team": teams[i],
                "member": members_arr[0]
            })

            members_arr = members_arr.slice(1)
            
        }
        
    } %>

     <% assignments.forEach(element => { %>

        <div> <%- element.team %> </div>
        <div> <%- element.member %> </div>

        
    <% }); %>


     <% } else if (method == 'number_per_team'){
         
         let teams = [];
         let assignments = [];
         let count = 0;

         let str = cohort.members;
         let members = str.split(",");
         let members_arr = shuffleArray(members);
         let number = members_arr.length / quantity;

         for (let i = 0; i < number; i++) {
            
            count += 1

            team_name = `Team ${count}`

            teams.push(team_name) 
            
         } 

        for (let i = 0; i < teams.length; i++){
            for (let number=0; number < quantity; number++) {

                assignments.push({
                    "team": teams[i],
                    "member": members_arr[0]
                })

                members_arr = members_arr.slice(1)

              } 
        } %>

            <% assignments.forEach(element => { %>

                <div> <%- element.team %> </div>
                <div> <%- element.member %> </div>

                
           <% });%>

      <% } %>
        

        
<%- include("../partials/footer.ejs") %>